*{
    margin:0px;
    padding:0px;
    overflow-x:hidden;
}

.bgimg{
    background-image: url("static/images/image5.jpg");
    background-size: 100% 100%;
    background-attachment:fixed;
    width:98%;
    height:703px;
}


.navbar-brand{
    font-size:50px;
    margin:0px;
    font-family: Georgia;
}



.center{
    display:flex;
    justify-content:center;
}


#sectionname{
    padding-top:320px;
    box-sizing:border-box;
}

#sectionname h2{
    text-align:center !important;
    font-size:30px;
    text-shadow: 2px 0px teal;
}

#sectionname h1{
    text-align:center !important;
    font-size:72px;
    font-weight: bold;
    text-shadow: 2px 1px teal;
}

#sectionname .btn{
    border-radius:45px;
    box-shadow: 0px 18px 16px rgba(87, 76, 66, 0.336);
    outline:none;
}


.ourservices{
    padding:100px 0px 0px;
    height:100px;
}

.ourservices h1{
    font-size:80px;
    font-weight:bold;
    font-style:Georgia;
    text-shadow: 3px 1px rgb(33, 105, 128);
}

.ourservices h4{
    font-size:30px;
}

.rowsetting{
    margin:120px 0px !important;
}

.imgsetting{
    background-color:white;
    border-radius: 50%;
    height:100px;
    width:100px;
    box-shadow: 0px 18px 16px rgba(34, 88, 119, 0.493);

}

.fa-user-md{
    margin-top:15px;
}

.fa-hospital-symbol{
    margin-top:15px;
}

.fa-file-powerpoint{
    margin-top:15px;
}

.fa-store{
    margin-top:15px;
}

.rowsetting h2{
    padding-top:15px;
    font-weight:bold;
    font-size:29px;
}

.rowsetting p{
    padding:15px;
}

/*
///////////............anthalogy*/

.anthology{
    height:1200px;
    width:100%;
    padding: 100px 0px;
}

.anthology h1{
    text-shadow: 2px 1px rgb(163, 163, 163);
}

.card{
    margin-top:40px;
    width:16rem;
    box-shadow: 0px 20px 14px rgba(43, 52, 56, 0.712);
}

.card-body h2 a{
    color:whitesmoke;
}




#main-bar{
    position:absolute;
    width:100%;
    top:9%;
    position: fixed;
    z-index:1;
}

#main-bar .nav-item{
    margin-left:10px;
    font-size:18px;
}



.ourteam{
    padding:100px 0px 0px;
    width:100%;
}

.teamsetting{
    padding:70px;
    
}

.figure-img{
    border-color: gray;
}
    



.footer{
    height:100px;
    width:100%;
}

.footer h6{
    line-height:50px;
}




@media(min-width:992px){

}

@media(min-width:768px) and (max-width:1024px){

}

@media(min-width:575px) and (max-width:574px){

}

@media(min-width:480px) and (max-width:574px){

}

@media(max-width:480px){

    #sectionname{
        padding-top:320px;
        box-sizing:border-box;
    }
    
    #sectionname h2{
        text-align:center !important;
        font-size:29px;
    }
    
    #sectionname h1{
        text-align:center !important;
        font-size:40px;
        font-weight: bold;
    }
    
    

    .ourservices{
        height:1200px;
    }

    .anthology{
        height:15000px;
    }

    .card{
        margin-top:40px;
        margin-left:50px;
        width:16rem;
    }
    
    .card-body h2 a{
        color:whitesmoke;
    }
    .ourteam{
        height:1400px;
    }

}